
/** ADD YOUR AWESOME CODES HERE **/

.background-color-tymsa-white{
  background-color: #ffffff;
}

.background-color-tymsa-red-transparent{
  background-color: #ad3b3010;
}

.background-color-tymsa-red{
  background-color: #ad3b3060;
}
